.cart{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100vh;
    max-width: 656px;
    background-color: #ffffff;
    padding: 24px 40px 0 40px;
}

.cart__header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.cart-row{
    display: grid;
    grid-template-columns: 24px 100px auto 77px 1fr 17px;
    grid-gap: 14px;
    align-items: center;
    padding: 14px 0;
    border-bottom: 1px solid #e6e6e6;
}

.cart-row__wrapper{
    display: flex;
    align-items: center;
}

.cart-row__button{
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    width: 24px;
    height: 24px;
}

.cart-row__quantity{
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 11px;
    margin-right: 11px;
}

.cart-row__price{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: right;
}

.cart-row-first{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 9px;
}

.cart-row-first__text{
    font-size: 14px;
    margin-left: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000;
}

.cart-row .filter-item__checkbox{
    margin-right: 0;
}

.cart-row-first__to-left{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.cart-row-first__to-left p{
    margin-right: 21px;
}

.cart-total{
    text-align: center;
    margin-top: 28px;
}

.cart-total__text{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: #000000;
    margin-bottom: 22px;
}

.cart-total__total-price{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-left: 8px;
}

.cart-total__button{
    width: 162px;
    height: 37px;
    font-weight: 500;
}

.cart svg{
    cursor: pointer;
}

.cart__close {
    height: 14px;
    width: 14px;
    cursor: pointer;
}



.cart__close-line {
    width: 18px;
    height: 2px;
    border-radius: 3px;
    position: absolute;
    background: #000;
}

.cart__close-line:first-child {
    transform: rotate(45deg);
}

.cart__close-line:last-child {
    transform: rotate(-45deg);
}

.bucket {

}

.bucket:hover {

}

.bucket:active {

}
