/*header*/

.header-content {
    height: 80px;
    display: grid;
    /*column-span: 12;*/
    align-items: center;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.logo {
    grid-column: span 1;
}

.logo img {
    width: 88px;
    height: 72px;
}

.catalog-checkbox__wrapper {
    grid-column: span 2;
}

.site-search {
    grid-column: span 5;
}

.nav-header {
    grid-column: span 4;
}

.nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__item {
    text-align: center;
}

.nav__link {

}

.nav__img {
    max-width: 32px;
    max-height: 32px;
}

.catalog-checkbox__wrapper {
    max-width: 148px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.catalog-checkbox {
    display: none;
}

.catalog-checkbox__label {
    position: relative;
    height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.catalog-checkbox__label-line {
    display: block;
    width: 16px;
    height: 1px;
    border-radius: 2px;
    background: #000;
}

.catalog-checkbox__text {
    margin-left: 10px;
}

.catalog-checkbox:checked + .catalog-checkbox__label .catalog-checkbox__label-line:last-child {
    display: none;
}

.catalog-checkbox:checked + .catalog-checkbox__label .catalog-checkbox__label-line:first-child {
    transform: rotate(45deg);
}

.catalog-checkbox:checked + .catalog-checkbox__label .catalog-checkbox__label-line:nth-child(2) {
    transform: rotate(-45deg);
}

.catalog-checkbox:checked + .catalog-checkbox__label {
    height: 1px;
}

.site-search {
    max-width: 459px;
    width: 100%;
    position: relative;
}

.site-search__input {
    position: relative;
    height: 45px;
    border: 1px solid var(--main-orange-color);
    width: 100%;
    padding-left: 34px;
}

.site-search:before {
    position: absolute;
    content: '';
    background: url("../assets/img/search.svg") no-repeat center center;
    z-index: 1;
    width: 18px;
    height: 18px;
    top: 13px;
    left: 10px;
}

.site-search__label {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
}

.site-search__button {
    height: 45px;
    width: 111px;
}

/*separator*/

.separator-content {
    display: flex;
    align-items: center;
    height: 98px;
    text-align: center;
}

.separator-left, .separator-right {
    width: 50%;
    mix-blend-mode: color-dodge;
    height: 100%;
}

.separator-left {
    background: var(--main-orange-color);
    background-image: url("../assets/img/dogs-bg.svg");
}

.separator-right {
    background: #E95342;
    background-image: url("../assets/img/cats-bg.svg");
}

.separator__title {
    line-height: 98px;
}

.separator__title:hover {
    opacity: 0.6;
    transition: 0.3s ease;
}

/*filter*/

.animals-wrapper {
    background: var(--light-gray-color);
}

.animals-content {
    padding-top: 25px;
    display: grid;
    grid-column-gap: 16px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.filters-title {
    border-bottom: 1px solid #E8E8E8;
    padding: 16px 0 16px 16px;
}

.filters-wrapper {
    grid-column: span 3;
    background: var(--dark-gray-color);
    border-radius: 8px;
    max-width: 296px;
}

.filter-block__title-wrapper {
    position: relative;
    cursor: pointer;
}

.filter-block__title-wrapper:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: #000000;
    opacity: 0.5;
    transform: rotate(-135deg);
    top: 7px;
    right: 0;
    margin-left: 10px;
    transition: transform 250ms;
}

.filter-block {
    border-bottom: 1px solid #E8E8E8;
    padding: 14px 16px 14px 16px;
}

.filter-block__search {
    width: 100%;
    height: 32px;
    padding-left: 34px;
}

.filter-block__search-wrapper {
    position: relative;
}

.filter-block__search-wrapper:before {
    position: absolute;
    content: '';
    background: url("../assets/img/search.svg") no-repeat center center;
    z-index: 100;
    width: 18px;
    height: 18px;
    top: 7px;
    left: 9px;
}

/*cards*/

.cards {
    grid-column: span 9;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fill, minmax(216px, 1fr));
}

