.filter-segment {
    background: var(--light-gray-color);
    position: absolute;
    width: 100px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    right: -18px;
    z-index: 1;
}

.filter-segment__text {
    font-size: 14px;
}
